<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TallerH.BLL.Properties.Settings.TallerHernandezConnectionString"
            connectionString="Data Source=LAPTOP-CLVDCOM5\SQLEXPRESS;Initial Catalog=TallerHernandez;Integrated "
            providerName="System.Data.SqlClient" />
        <add name="TallerH.BLL.Properties.Settings.TallerHernandezConnectionString1"
            connectionString="Data Source=LAPTOP-CLVDCOM5\SQLEXPRESS;Initial Catalog=TallerHernandez;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>