body {
   background-color:lightgoldenrodyellow;
    background-repeat: no-repeat;
    color:black;
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size:medium;
    
   
}
h2, h3, h4{
color:black;
}