<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TallerH.DAL.BD" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TallerH.DAL.BD.conexion" connectionString="Data Source=TI-MOISES\SQL14;Initial Catalog=TallerHernandez;User ID=sa;Password=Desarrollo2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TallerH.DAL.BD>
            <setting name="proveedor" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
        </TallerH.DAL.BD>
    </applicationSettings>
</configuration>